<a href="https://colab.research.google.com/github/yj0905/2020/blob/master/lesson4_tabular_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
- 이번 레슨에서 다음과 같은 부분을 짚고 넘어가보세요
- NLP, Computer vison과의 차이
- processing이란 무엇인가? transformation과는 어떻게 다른가?

- pandas가 data science에서 기본적으로 사용되기에, 이번에 짚고 넘어가면 좋을 것 같습니다. 잘하셨습니다.

# Tabular models

In [0]:
!curl https://course.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   322  100   322    0     0  10062      0 --:--:-- --:--:-- --:--:-- 10062
Updating fastai...
Done.

In [0]:
from fastai import *
from fastai.tabular import *

Tabular data should be in a Pandas `DataFrame`.

Pandas란?[Pandas 기초 정리](https://doorbw.tistory.com/172)

In [0]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv') #Pandas DataFrame에서 데이터 가져오기

Downloading http://files.fast.ai/data/examples/adult_sample

In [0]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize] #결측값(missing values)처리, pandas 범주로 분류, 정규화

In [0]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [0]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000))) #세트 나누기
                           .label_from_df(cols=dep_var) #label 추가
                           .add_test(test) #test set 추가
                           .databunch()) #databunch 얻기

In [0]:
data.show_batch(rows=10)

In [0]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy) #tabular(표) learner

In [0]:
learn.fit(1, 1e-2)

## Inference

In [0]:
row = df.iloc[0]

In [0]:
learn.predict(row)

(Category <50k, tensor(0), tensor([0.5752, 0.4248]))